* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 7px;
}

/* Avatar Upload Button Styling */
.avatar-update-btn::file-selector-button {
  width: 100%;
  padding: 7px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid hsl(var(--primary));
  background: hsl(var(--primary));
  cursor: pointer;
  color: hsl(var(--primary-foreground));
  transition: all 0.3s ease;
}

.avatar-update-btn::file-selector-button:hover {
  background: transparent;
  color: hsl(var(--primary));
  border-color: hsl(var(--primary));
}
